<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
  <div class="container">
    <div class="pic">
      <i class="fas fa-user"></i>
    </div>
    <h2 class="title">Registro de nuevo usuario</h2>
    <form class="form" method="POST">
      {% csrf_token %}
      <label for="username">Nombre de Usuario</label>
      <input type="text" name="username" id="username" class="input" autocomplete="off" placeholder="info_g10" required="true"/>

      <label for="password1">Contraseña</label>
      <input type="password" id="password1" class="input" autocomplete="off" placeholder="Contraseña" required="true"/>

      <label for="password2">Repetir contraseña</label>
      <input type="password" id="password2" class="input" autocomplete="off" placeholder="Repetir contraseña" required="true"/>

      <div class="links">
        <a href="/login">¿Ya tenés un usuario?</a>
        <p>¿Querés un usuario temporal?</p>
        <a href="#">Sí</a>
      </div>
      <button onclick="location.href='/'" type="submit">Registrarse</button>
    </form>
  </div>
</body>
</html>