<html>
	
	<head>
		<title>Proyecto-info</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	</head>
	<body>
        <div class="container">
            <p>Responde con precisión</p>
            <form action="" method="POST">
            {% csrf_token %}
            {% for item, value in preguntas.items %}
                <div class="pregunta">
                    <p>{{ item }}</p>

                    {% for opcion in value %}
                    <div class="opcion"><input type="radio" name="{{opcion.id_}}" value="{{opcion.puntaje}}">{{opcion.opcion}}</div>
                    <!--
                    <select name="{{ forloop.counter }}">
                        <option value="">---------</option>
                        {% for opcion in value %}
                        <option value="{{ opcion.id }}">{{ opcion.opcion }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    -->
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Enviar Respuestas">
            </form>
        </div>
	</body>
</html>

