<html>
	
	<head>
		<title>Proyecto-info</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	</head>
	<body>
        <div class="container">
            <p>Responde con precisión</p>
            <form action="" method="POST">
            {% csrf_token %}

            {% for item, value in preguntas.items %}
                <div class="pregunta">
                    <p>{{ item }}</p>
                    {% with forloop.counter as name %}

                    {% for opcion in value %}
                    <div class="opcion">
                        <input type="radio" id="{{opcion.opcion}}" name="{{name}}" value="{{opcion.puntaje}}">
                        <label for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                    </div>
                    {% endfor %}

                    {% endwith %}
                </div>
            {% endfor %}
            <input type="submit" value="Enviar Respuestas">
            </form>
        </div>
	</body>
</html>

